.card {
    max-width: 500;
    margin-top: 10px !important;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.3)
}

.image {
    width: 93%;
    height: -webkit-fill-available;
}

.media {
    height: 0;
    padding-top: 56.25%; 
}

.margin {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}

.expandOpen {
    transform: rotate(180deg);
}

.avatar {
    background-color: red[500];
}

.titulo {
    font-size: 36px;
    color: black;
    text-align: center;
}

/* body, html {
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(104, 145, 162), rgb(212, 212, 212));
} */