.card {
    max-width: 500;
    margin-top: 50px !important;
    padding: 12px 9px 11px 9px !important;
    box-shadow: 4px 4px 2px 6px rgba(0, 0, 0, 0.3);
}

.card-intro {
    width: 47%;
    margin-right: 3% !important;
    background-color: #f7ffff !important;
}

.tamFont {
    font-size: 15px;
}

.image {
    width: 93%;
    height: -webkit-fill-available;
}

.media {
    height: 0;
    padding-top: 56.25%; 
}

.margin {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}

.expandOpen {
    transform: rotate(180deg);
}

.avatar {
    background-color: red[500];
}

@media screen and (max-width: 500px) {
    .card-intro {
        width: 100%;
        background-color: #f7ffff !important;
    }
}